{% extends '/layout/mail.html.twig' %}

{% block content %}
    <tr>
        <td class="wrapper">
            <p>Добрый день!</p>
            <p>Спасибо за покупку! Образцы документов приложены к этому письму.</p>
            <hr>
            <p>Спасибо за покупку! Вам доступна скидка 5% на все последующие покупки на сайте <a href="https://olimpoks-help.ru/">https://olimpoks-help.ru/</a></p>
        </td>
    </tr>


{% endblock %}