{% extends '/layout/mail.html.twig' %}

{% block content %}
    <tr>
        <td class="wrapper">
            <p>Добрый день!</p>
            <p>Спасибо за покупку! Образцы документов приложены к этому письму.</p>
        </td>
    </tr>


{% endblock %}